<%@lista.each do |l| %>
<div class="row">
		<div class="col-sm-4">
			<img src="assets/<%=l.img%>" width="30%" height="30%" class="img-responsive center-block" alt="">
			<%=l.img%>
		</div>	
		<div class="col-sm-4">
			<%=l.description%>
		</div>
		<div class="col-sm-4">
			Creado: <%=l.created_at%> <br>
			Puntos: <%=l.points%>
		</div>
		<br><br>
</div>
<%end%>
